

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/2927263-01.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
  }
  
  .css-9ugsz7 {
    margin: 0 !important;
    padding: 0 !important;
  }


  .css-1l8j5k8 {
    background-color: rgb(153, 18, 18);
  }